* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background-image: url("img/kolam renang.jpg");
    background-size: 100% 100%;
    margin: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

nav.menu {
    background-color: rgb(0, 162, 255);
    padding: 15px 30px;
    color: white;
}

nav.menu label {
    font-size: 22px;
    font-weight: bold;
}

nav.menu ul {
    list-style: none;
    margin-top: 10px;
}

nav.menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    display: inline-block;
}

nav.menu ul li a:hover {
    background-color: white;
    border-radius: 5px;
}


ul.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    top: 35px;
    border-radius: 5px;
    z-index: 100;
}

ul.dropdown li {
    display: block;
    margin: 5px 0;
}

nav.menu ul li:hover .dropdown {
    display: block;
}


.room-section {
    padding: 50px 50px;
    background-color: #e0ebf2;
}

.room-section h2 {
    text-align: center;
    font-size: 32px;
    color: rgb(10, 0, 0);
    margin-bottom: 30px;
}

.room-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}


.room-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.room-card h3 {
    color: #002f4d;
    margin-top: 15px;
}

.room-card p {
    font-size: 14px;
    margin: 10px 0;
}

.room-card ul {
    text-align: left;
    padding-left: 20px;
    font-size: 14px;
}

.hero-section {
    background-image: url('img/mariot.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    text-align: center;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* gelap tipis */
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto;
}

.room-header {
    background-color: #004579;
    padding: 60px 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.room-header h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.menu {
    font-family: tahoma;
    font-weight: bold;
    height: 70px;
    width: 100%;
    background: #00716c;
    font-size: 20px;
}

label{
    font-family: sans-serif;
    font-size: 20pt;
    color: white;
    margin: 10px;
    padding: 5px;a
    float: left;
}

.menu ul{
    margin: 0px;
    padding: 5px;
    background: none;
    display: block;
    float: right;
}

.menu ul li{
    list-style: none;
    display: inline-block
}

.menu ul li a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #ddd;
}

.menu ul li a:hover{
    display: block;
    color: green;
    background: #222;
    box-shadow: inset 0px 0px 5px #000;
}

.menu ul li .dropdown{
    display: none;
}

.menu ul li:hover .dropdown{
    display: block;
    background: black;
    position: absolute;
    padding: 10px;
}

.menu ul li:hover .dropdown li{
    display: block;
}

.menu ul li:hover .dropdown li a(
    pading: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
)

.menu ul li:hover .dropdown li a:hover{
    background: #222;
    box-shadow: inset 0px 0px 5px #000;
}
.facility-section {
  padding: 100px 100px;
  background-color: #f0f8ff;
  text-align: center;
}

.facility-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 30px;
}

..facility-card {
  background-color: transparent; 
  box-shadow: none;              
  border-radius: 0;              
  text-align: center;
  padding: 10px;
  margin: 10px;
  width: 280px;
}

.facility-card img {
  width: 400px;
  height: 260px;
  object-fit: cover;
  border-radius: 12px; 
  margin-bottom: 10px;
}


.facility-card h3 {
  color: #004d40;
  margin-top: 10px;
}

.facility-card p {
  font-size: 14px;
  color: #444;
}

  .restaurant-section {
    padding: 40px;
    background-color: #f0f8ff;
    text-align: center;
  }
  
  .restaurant-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
  }
  
  .restaurant-card {
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 400px;
    padding: 20px;
    transition: transform 0.2s;
  }
  
  .restaurant-card:hover {
    transform: translateY(-5px);
  }
  
  .restaurant-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
  }
  
  .restaurant-card h3 {
    margin-top: 15px;
    color: #004169;
  }
  
  .restaurant-card p, .restaurant-card ul {
    text-align: left;
    margin-top: 10px;
  }
  
  .profile-section {
    padding: 120px 100px;
    background-color: #f0f8ff;
    text-align: center;
  }
  
  .profile-gallery {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .profile-card img {
    width: 100%;
    border-radius: 12px;
    height: 200px;
    object-fit: cover;
  }
  
  .profile-card h3 {
    margin-top: 10px;
    color: #03415e;
  }
  
  .profile-description {
    max-width: 800px;
    margin: 40px auto 0;
    text-align: left;
  }
  
  .profile-description ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 10px;
  }
  
  .meeting-section {
    padding: 120px 120px;
    background-color: #f0f8ff;
    text-align: center;
  }
  
  .meeting-gallery {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .meeting-card {
    
    width: 300px;
    padding: 15px;
    text-align: center;
  }
  
  .meeting-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
  }
  
  .meeting-card h3 {
    color: #0058af;
    margin-top: 20px;
  }
  
  .contact-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 90px;
    padding: 90px;
    background-color: #f0f8ff;
  }
  
  .contact-info {
    flex: 1;
    min-width: 250px;
  }
  
  .contact-form {
    flex: 1;
    min-width: 250px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #cccccc;
  }
  
  .contact-form button {
    padding: 10px 20px;
    background-color: #004966;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #00254d;
  }
  
  /* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  line-height: 1.6;
}

header {
  padding 50px 50px;
} 

header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

header nav ul li {
  margin: 0 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover {
  text-decoration: underline;
}


.profile-container {
  max-width: 700px;
  background-color: white;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-container img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 3px solid #004080;
}

.profile-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #004080;
}

.profile-container p {
  margin-bottom: 10px;
}

/* Bio */
.bio p {
  text-align: left;
  margin: 5px 0;
}

/* Footer */
footer {
  text-align: center;
  padding: 15px 0;
  background-color: #004080;
  color: white;
  margin-top: 40px;
}
